# Node
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local

# Frontend
frontend/dist/
frontend/node_modules/

# Grav CMS
cms/backup/
cms/cache/
cms/logs/
cms/tmp/
cms/user/data/
cms/user/pages/
# Plugin-Token nie in git (wird direkt auf dem Server gesetzt)
cms/user/config/plugins/github-deploy.yaml

# OS Files
.DS_Store
Thumbs.db
